section{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 1px 2px 10px #d8e6ce;
    padding: 10px 20px;
    border-radius: 5px;
    background: #ebc884;
    margin-block-end: 100px;
}

section h3{
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
    text-align: center;
}

section form{
    margin: 30px;
    padding: 0px 20px;
}

.contenedor_input{
    width: 100%;
    background: #fff;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px;
    margin-top: 20px;
}

.contenedor_input input{
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
}

input:-webkit-autofill, 
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active { 
    -webkit-box-shadow: 0 0 0 30px white inset !important; 
}

.contenedor_boton{
    margin: 10px 0px;
    text-align: center;
    color: white;
}

.boton{
    margin-top:20px ;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    background-color:#7baf8d ;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    font-size: 16px;
    border: none;
    box-shadow: #d8e6ce;
}

.boton:hover{
    transform: scale(1.05);
}

.error{
    width: auto;
    background-color: rgb(226, 69, 69);
    margin: 20px;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}